<?xml version="1.0"?>
<!DOCTYPE module PUBLIC
        "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<!--

  Checkstyle configuration that checks the sun coding conventions from:

    - the Java Language Specification at
      http://java.sun.com/docs/books/jls/second_edition/html/index.html

    - the Sun Code Conventions at http://java.sun.com/docs/codeconv/

    - the Javadoc guidelines at
      http://java.sun.com/j2se/javadoc/writingdoccomments/index.html

    - the JDK Api documentation http://java.sun.com/j2se/docs/api/index.html

    - some best practices

  Checkstyle is very configurable. Be sure to read the documentation at
  http://checkstyle.sf.net (or in your downloaded distribution).

  Most Checks are configurable, be sure to consult the documentation.

  To completely disable a check, just comment it out or delete it from the file.

  Finally, it is worth reading the documentation.

-->

<!-- FIX CHECKSTYLE Sort ordering of rules. -->

<module name="Checker">
    <module name="SuppressionCommentFilter">
        <property name="offCommentFormat" value="[DEBT|OK] ([\w\|]+) \{"/>
        <property name="onCommentFormat" value="\} [DEBT|OK] ([\w\|]+)"/>
        <property name="checkFormat" value="$1"/>
    </module>

    <module name="NewlineAtEndOfFile"/>

    <module name="Translation"/>

    <module name="TreeWalker">
        <module name="TodoComment">
            <property name="severity" value="info"/>
        </module>

        <module name="TodoComment">
            <property name="severity" value="warning"/>
            <property name="format" value="DEBT.*\{"/>
        </module>

        <module name="LocalFinalVariableName"/>

        <module name="PackageName"/>

        <module name="TypeName"/>

        <module name="StaticVariableName"/>

        <module name="IllegalImport"/>

        <module name="RedundantImport"/>

        <module name="RedundantThrows"/>

        <module name="EmptyForIteratorPad"/>

        <module name="MethodParamPad"/>

        <module name="NoWhitespaceAfter"/>

        <module name="NoWhitespaceBefore"/>

        <module name="TabCharacter"/>

        <module name="ModifierOrder"/>

        <module name="AvoidNestedBlocks"/>

        <module name="DoubleCheckedLocking"/>

        <module name="EmptyStatement"/>

        <module name="EqualsHashCode"/>

        <module name="SimplifyBooleanExpression"/>

        <module name="SimplifyBooleanReturn"/>

        <module name="InterfaceIsType"/>

        <module name="ArrayTypeStyle"/>

        <module name="ThrowsCount">
            <!-- FIX CHECKSTYLE Should be 2? 0?-->
            <property name="max" value="3"/>
        </module>

        <module name="NestedTryDepth">
            <property name="max" value="1"/>
        </module>

        <module name="UpperEll"/>

        <module name="MutableException"/>

        <module name="SuperFinalize"/>

        <module name="PackageDeclaration"/>

        <module name="FileContentsHolder"/>

        <!-- FIX CHECKSTYLE What else? Date..... -->
        <module name="IllegalInstantiation">
            <property name="classes" value="java.lang.Boolean,java.lang.Integer,java.lang.Long"/>
        </module>

        <module name="CovariantEquals"/>

        <module name="EmptyStatement"/>

        <module name="FallThrough"/>

        <module name="InnerAssignment"/>

        <module name="StringLiteralEquality"/>

        <module name="LeftCurly"/>

        <module name="RightCurly"/>

        <module name="OperatorWrap"/>

        <module name="ParenPad"/>

        <module name="TypecastParenPad"/>

        <module name="NeedBraces"/>

        <module name="RedundantModifier"/>

        <module name="UnusedImports"/>

        <module name="WhitespaceAfter"/>

        <module name="ConstantName"/>

        <module name="MemberName"/>

        <module name="LocalVariableName"/>

        <module name="MissingSwitchDefault"/>

        <module name="RegexpHeader">
            <!--No header-->
            <property name="header" value="^package .*$"/>
        </module>

        <module name="EmptyBlock">
            <property name="option" value="text"/>
        </module>


        <!-- FIX CHECKSTYLE Add to this list. Thread, Date methods... -->
        <module name="GenericIllegalRegexp">
            <property name="format" value="System\.out|System\.err|\.printStackTrace\(\)|main\("/>
        </module>

        <!-- FIX CHECKSTYLE DANGER FIX THIS AS SOON AS POSSIBLE!!! BEFORE THEY GET WORSE-->

        <module name="NestedIfDepth">
            <property name="severity" value="warning"/>
            <property name="max" value="1"/>
        </module>

        <module name="ReturnCount">
            <property name="severity" value="warning"/>
            <property name="max" value="4"/>
        </module>

        <module name="CyclomaticComplexity">
            <property name="severity" value="warning"/>
            <property name="max" value="4"/>
        </module>

        <module name="ClassDataAbstractionCoupling">
            <property name="severity" value="warning"/>
            <property name="max" value="6"/>
        </module>

        <module name="ParameterAssignment">
            <property name="severity" value="warning"/>
        </module>

        <module name="ParameterNumber">
            <property name="severity" value="warning"/>
            <property name="max" value="4"/>
        </module>

        <module name="JavaNCSS">
            <property name="severity" value="warning"/>
            <!-- FIX CHECKSTYLE Should probably be 10-->
            <property name="methodMaximum" value="30"/>
            <!-- FIX CHECKSTYLE Should probably be 50 - 80 range -->
            <property name="classMaximum" value="150"/>
        </module>

        <!-- FIX CHECKSTYLE Naming conventions. Sort.-->

        <module name="MethodName">
            <property name="severity" value="warning"/>
        </module>

        <module name="ParameterName">
            <property name="severity" value="warning"/>
        </module>
    </module>
</module>
